com/ibm/sdp/vo/ApplicationProvider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="EnumValues.xsd"/>
    <xsd:complexType name="ApplicationProvider">
    <xsd:sequence>
       <xsd:element minOccurs="0" name="id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
      <xsd:element minOccurs="0" name="providerType" type="bons0:EnumValues"/>
	 </xsd:sequence>      
  </xsd:complexType>
</xsd:schema>
