com/ibm/sdp/vo/AuditAction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="AuditAction">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="actionId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="actionName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="actionDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
