com/ibm/sdp/vo/AuditModules.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="AuditModules">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="moduleId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="moduleName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="moduleDesc" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
