com/ibm/sdp/vo/ContentProvider.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="EnumValues.xsd"/>
    <xsd:include schemaLocation="CPService.xsd"/>
    <xsd:complexType name="ContentProvider">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="cpId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="cpName" type="xsd:string"/>
      <xsd:element minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="status" type="bons0:EnumValues"/>
            <xsd:element minOccurs="0" name="cpServices" type="bons0:CPService" maxOccurs="unbounded"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
