com/ibm/sdp/vo/ErrorDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="ErrorDetails">
     <xsd:sequence>
      <xsd:element minOccurs="0" name="errorCode" type="xsd:string"/>
      <xsd:element minOccurs="0" name="errorMessage" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
