com/ibm/sdp/vo/MessageTemplateDetails.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="EnumValues.xsd"/>
    <xsd:include schemaLocation="Attachment.xsd"/>
    <xsd:complexType name="MessageTemplateDetails">
   <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:string"/>
      <xsd:element minOccurs="0" name="url" type="xsd:string"/>
      <xsd:element minOccurs="0" name="messageTemplate" type="xsd:string"/>
            <xsd:element minOccurs="0" name="attachments" type="bons0:Attachment" maxOccurs="unbounded"/>
            <xsd:element minOccurs="0" name="messageType" type="bons0:EnumValues"/>
            <xsd:element minOccurs="0" name="description" type="xsd:string"/>
            <xsd:element minOccurs="0" name="status" type="bons0:EnumValues"/>
        </xsd:sequence>	      
  </xsd:complexType>
</xsd:schema>
