com/ibm/sdp/vo/PricePoint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="EnumValues.xsd"/>
    <xsd:complexType name="PricePoint">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="priceId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="pricePointValue" type="xsd:float"/>
            <xsd:element minOccurs="0" name="status" type="bons0:EnumValues"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
