com/ibm/sdp/vo/PurchaseForXDaysInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="PurchaseForXDaysInput">
     <xsd:sequence>
      <xsd:element minOccurs="1" name="forLastXDays" type="xsd:int"/>
      <xsd:element minOccurs="0" name="subscriberID" type="xsd:string"/>
     </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
