com/ibm/sdp/vo/ServiceException.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="ServiceException">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="messageId" type="xsd:string"/>
      <xsd:element minOccurs="0" name="text" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
