com/ibm/sdp/vo/UpdateObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="UpdateObject">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="userComments" type="xsd:string"/>
      <xsd:element minOccurs="0" name="createdBy" type="xsd:string"/>
      <xsd:element minOccurs="0" name="createdDate" type="xsd:date"/>
      <xsd:element minOccurs="0" name="lastUpdatedBy" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lastUpdatedDate" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
