wsdl/com/ibm/sdp/vo/AuditEntity.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="AuditEntity">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="entityId" type="xsd:int"/>
            <xsd:element minOccurs="0" name="entityName" type="xsd:string"/>
            <xsd:element minOccurs="0" name="entityDesc" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
