wsdl/com/ibm/sdp/vo/CDRAttribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="AttributeDetails.xsd"/>
    <xsd:complexType name="CDRAttribute">
    <xsd:sequence>
          <xsd:element minOccurs="0" name="id" type="xsd:int"/>
          <xsd:element minOccurs="0" name="attributeseq" type="xsd:int"/>
            <xsd:element minOccurs="0" name="attribute" type="bons0:AttributeDetails" maxOccurs="1"/>
            <xsd:element minOccurs="0" name="system" type="xsd:int"/>
        </xsd:sequence>          
  </xsd:complexType>
</xsd:schema>
