wsdl/com/ibm/sdp/vo/CDRConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="CDRAttribute.xsd"/>
    <xsd:include schemaLocation="ApplicationDetails.xsd"/>
    <xsd:include schemaLocation="EnumValues.xsd"/>
    <xsd:complexType name="CDRConfiguration">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="systemId" type="xsd:int"/>
      <xsd:element minOccurs="0" name="systemName" type="xsd:string"/>
       <xsd:element minOccurs="0" name="colSeprator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="rowSeprator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="exportTimeGapInHours" type="xsd:int"/>
      <xsd:element minOccurs="0" name="numberOfRecordsPerFile" type="xsd:int"/>
      <xsd:element minOccurs="0" name="cdrFileNamePrefix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cdrFileNamePostFix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="cdrFileSize" type="xsd:int"/>
            <xsd:element minOccurs="0" name="systemCategory" type="bons0:EnumValues"/>
            <xsd:element minOccurs="0" name="cdrFileFormat" type="bons0:EnumValues"/>
            <xsd:element minOccurs="0" name="application" type="bons0:ApplicationDetails"/>
            <xsd:element minOccurs="0" name="cdrAttributeList" type="bons0:CDRAttribute" maxOccurs="unbounded"/>
        </xsd:sequence>    
  </xsd:complexType>
</xsd:schema>
