wsdl/com/ibm/sdp/vo/PurchaseByDateInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://CocLib/com/ibm/sdp/vo">
  <xsd:complexType name="PurchaseByDateInput">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="fromDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="1" name="toDate" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="subscriberId" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
