wsdl/com/ibm/sdp/vo/ResponseObject.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bons0="http://CocLib/com/ibm/sdp/vo" targetNamespace="http://CocLib/com/ibm/sdp/vo">
    <xsd:include schemaLocation="ErrorDetails.xsd"/>
    <xsd:complexType name="ResponseObject">
    <xsd:sequence>
          <xsd:element minOccurs="0" name="result" type="xsd:string"/>
            <xsd:element minOccurs="0" name="error" type="bons0:ErrorDetails"/>
        </xsd:sequence>      
  </xsd:complexType>
</xsd:schema>
